@function rem($px) {
    @return calc($px / 10) + rem;
  }

/* font */
  @mixin font($size, $weight: $base-weight, $line: 1, $style: normal) {
    font: {
      size: rem($size);
      weight: $weight;
      style: $style;
    }
    line-height: rem($line);
  }
  
  /* flex */
  @mixin flex($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }

  @mixin section-style {
    max-width: var(--app-max-width);
    width: var(--app-width);
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: var(--section-mb);
  }