@import './_mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green: #36ad58;
    --color-blue: #1263DD;
    --color-white: #fff;
    --color-black: #000;
    --color-blue-light: #1c6fed;
    --color-red: #f31f1f;
    --color-yellow: #FF9F1E;
    --section-mb: 80px;
    --header-height: 100px;
    --footer-height: 100px;
    --app-max-width: 1024px;
    --app-width: 90%;

    font-size: 62.5%;
}

body {
    width: 100%;
    //min-width: 100vw;
    min-height: 100vh;

    font-family: 'Raleway', sans-serif;
}

h1 {
    @include font(60, 500, 75);
    color: var(--color-white);
    margin-bottom: 0.5em;

    @media (max-width: 800px) {
        @include font(40, 500, 50);
    }
}

h2 {
    margin-bottom: 0.5em;
    @include font(40, 600, 50);
    color: var(--color-black);
}

h3 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    @include font(30, 600, 40);
    color: var(--color-black);
}

p {
    @include font(18, 500, 21);
    margin-bottom: 0.75em;
}

.icon {
    width: 100px;
    height: 50px;

    svg {
        width: 100%;
        height: 100%;
    }
}

#root {
    min-height: 100vh;
    @include flex(flex-start, stretch, column);
}

main {
    flex: auto;
}