{
    "extends":["eslint:recommended", "prettier"],
    "root": true,
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "node": true
    },
    "rules": {
        "no-console":"error"
    }
}