@import '../../../assets/scss/_mixins.scss';

.footer {
    width: 100%;
    min-height: 100px;
    padding: 30px 0;
    background-color: var(--color-green);
    text-decoration: none;
    color: var(--color-white);
    @include font(16, 600, 22);

    @at-root &__container {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
        height: 100%;

        @include flex(space-between, center);
        gap: 40px;

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }

    @at-root &__info {
        flex: 1;
        
        @include flex(space-between, center);
        gap: 40px;

        @media (max-width: 800px) {
            // justify-self: flex-start;
            align-self: stretch;
        }

        @media (max-width: 450px) {
            flex-direction: column;
        }
    }

    @at-root &__logo {
        flex: 0 1 calc(50% - 20px);

        @media (max-width: 800px) {
            flex: 0;
            justify-self: flex-start;
            align-self: flex-start;
        }
    }

    @at-root &__contacts {
        flex: 0 1 calc(50% - 20px);

        @media (max-width: 800px) {
            flex: auto;
        }

        @media (max-width: 450px) {
            align-self: flex-start;
        }
    }

    @at-root &__disclaimer {
        flex: 1;
    }

    .icon {
        width: 100px;
        height: 60px;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }
}