@import '../../../assets/scss/_mixins.scss';

.header {
    width: 100%;
    height: 100px;
    background-color: var(--color-green);
    position: relative;

    @media (max-width: 1200px) {
        height: 90px;
    }

    @at-root &__container {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
        height: 100%;

        @include flex(flex-start, center);
    }

    @at-root .icon {
        width: 100px;
        height: 60px;

        @media (max-width: 1200px) {
            width: 90px;
            height: 54px;
        }
    }

    @at-root &__navigation {
        margin-left: auto;
        @include flex(space-between, center);
        gap: 5em;

        @media (max-width: 1200px) {
            gap: 4em;
        }

        @media (max-width: 800px) {
            display: none;
        }  
    }

    li {
        list-style: none;
        padding: 0.75rem 1.5rem;
        border-radius: 0.75rem;
        background-color: transparent;

        &:last-child {
            background-color: var(--color-blue);
            &:hover {
                background-color: var(--color-blue-light);
            }
        }
    }

    a {
        text-decoration: none;
        color: var(--color-white);
        @include font(20, 600, 24);

        @media (max-width: 1200px) {
            @include font(18, 600, 21);
        }

        @media (max-width: 800px) {
            @include font(24, 600, 28);
        }
    }

    @at-root &__mobile-navigation {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 30px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-green);

        @media (max-width: 800px) {
            display: flex;
        }
    }

    

    
}